.chat {
  display: grid;
  grid-template-rows: 0.1fr 7fr 1.2fr;
  gap: 3rem;
}

.chat__heading {
  text-transform: uppercase;
  font-size: 3rem;
  padding: 2rem 4rem;
  font-weight: 400;
  color: #5c0029;
}

.chat__form {
  width: 100%;
}

.chat__input {
  font-size: 1.6rem;
  padding: 1rem 1.2rem;
  width: 90%;
  margin-left: 4rem;
  margin-right: 2rem;
  outline: none;
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 100rem;
  transition: 0.4s ease-in-out;
}

.chat__input:focus {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.chat__button {
  font-size: 3rem;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 20;
  transform: translateY(1rem);
}

.chat__button::after {
  content: "";
  height: 4rem;
  width: 4rem;
  border-radius: 100rem;
  background-color: #5c0029;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}

.chat__button:hover::after {
  background-color: #f71735;
}

.chat__button:active {
  transform: translateY(1.2rem);
}
