.messages__container {
  height: 72.5vh;
  margin: 2rem 6rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  outline: 1px solid #999;
  outline-offset: 2rem;
  border-radius: 0.5rem;
}
