.dashboard__container {
  display: grid;
  grid-template-columns: 0.8fr 4fr 18fr;
  color: #011627;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.chat {
  background-color: #fee8eb;
}

.logout__button {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1rem;
  font-size: 4rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.logout__button:hover {
  color: #5c0029;
}
